body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(215, 214, 248, 0.925);
}
.header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 10px;
    padding: 20px;
    text-align: left;
    background: #0c0263;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /*100px 400px auto 125px 100px 100px 100px;*/
    grid-gap: 10px;
    padding: 20px;
    text-align: left;
    background: #0c0263;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.typo{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.typo2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo_image {
    background-image: url(img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #0c0263;
    border-radius: 20px;
    height: 150px;
    width: 90px;
}
.image_justice {
    background-image: url(img/justice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    min-width: 600px;
}
.image_books {
    background-image: url(img/books.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    min-width: 300px;
}
.image_dance {
    background-image: url(img/dance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    min-width: 300px;
}
.image_patent {
    background-image: url(img/patente.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    min-width: 300px;
}
.image_libro1 {
    background-image: url(img/creactivacionismo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    min-width: 300px;
}
.image_libro2 {
    background-image: url(img/digitocultura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    min-width: 300px;
}
.image_link {
        background-color: #0c0263;
            background-image: url('img/linkedin.png');
            background-size: contain;
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
}
.image_mail { 
    background-color: #0c0263;
            background-image: url('img/gmail.png');
            background-size: contain;
            width: 40px;
            height: 40px;
            display: inline-block;
            background-repeat: no-repeat;
}
.grid_container_presentation {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.item3 {
    grid-column:2;
    grid-row: 1/3;
  }
  .grid_container_tarjeta {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;   
}
.grid_container_doble {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto ;
    grid-gap: 10px;    
}
.tarjeta{
    margin: auto;
    background-color: white;
    background-size: contain;
    min-width: 200px;
    min-height: 300px;
    border: solid 1px #999;
    border-radius: 10px;
    display: inline-block;
}
